img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: inline- block;
    margin-top: 50px;
    border-radius: 10px;
}

.card {
    display: inline-block;
    background-color: #fff8dc;
    border: 6px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 90px auto 0;
    padding: 0;
    width: 400px;
    height: 400px;
}

.container {
    text-align: center;
}